.headerSection
{
    background-color : #d4d4c4;
}
.About
{
    background-color: #A8B592;
}
.Upcoming
{
    background-color : #d4d4c4;
}
.Guides
{
    background-color: #A8B592;
}
.Contact
{
    background-color: #6C9583;
}